<%= link_to pins_path do %>
<span class="glyphicon glyphicon-step-backward"></span> Back
<% end %>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
			<p><%= @pin.description %></p>
		</div>
		<div class="center">
			<p><%= image_tag @pin.image.url %></p>
		</div>
		<div class="panel-body center">
			 <span class="glyphicon glyphicon-user"></span> <strong><%= @pin.user.name if @pin.user %></strong>
		</div>
		<div class="panel-footer center">
			<% if @pin.user == current_user%>
				<%= link_to edit_pin_path(@pin) do %>
					<span class="glyphicon glyphicon-edit"></span>
					Edit
				<% end %>
			<% end %>
		</div>
		</div>
	</div>
</div>
